:root {
    --main-bg-color-1: #B9975B;
    --main-bg-color-2: #fe7f9c;
    --main-bg-color-3: #013369;
    --main-bg-color-4: #D50A0A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* ================================================================================================*/
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    background-color: var(--main-bg-color-3);
    color: #fff;
}

.head-title {
    margin-top: 1rem;
}

/* ===================================================================================================*/

footer {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color-3);
    color: #fff;
    padding-left: 1rem;
}

footer p {
    padding-left: 1em;
}